
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@media only screen and (orientation:portrait){
    html{
display: none;
    }
}
@media only screen and (max-width:999px)and (orientation:landscape){
    html {
        height: 100vh;
        width: 100%;

    }

    body {
        background: #141E30;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        display: grid;
        grid-template-columns: 30px 1fr 1fr 30px;
        gap: auto;
        grid-template-rows: auto;
        grid-auto-rows: 200px;
    }

    * {
        box-sizing: border-box;
        font-family: 'Press Start 2P', cursive;
    }

    header {
        grid-column: 1/4;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
    }

    h1 {
        font-size: 35px;
        color: rgb(196, 195, 206);
    }

    main {
        height: 80vh;
        grid-row: 2/3;
        grid-column: 2/4;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;

    }

    #buttons {
        grid-column: 2/4;
        grid-row: 5/6;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 60px;

    }

    #playerOne {
        justify-self: start;
    }

    #playerTwo {
        justify-self: end;
    }
    #charCarrousel{
        margin-left:-20px;
    }
    #charCarrousel2{
        margin-left:50%
    }
    #charOne img {
        grid-column: 1/2;
        
        place-items: center;
    }

    #charTwo img {
        grid-column: 3/4;
        grid-row: 2/3;
        place-items: center;
        transform: scale(-1, 1);
    }
    #charTwo label{
        grid-column: 3/4;
    }

    #vs {
        display: none;
    }


    #creationPanel {
        grid-column: 2/4;
        grid-row: 5/6;
        display: inline-flex;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 25px;

    }

    #characterOne {
        grid-column: 1/2;
        grid-row: inherit;
        display: block;


    }

    #characterTwo {
        grid-column: 2/3;
        grid-row: inherit;
        display: block;
    }



button {
    border: 2px dashed #000000;
    background: transparent;
}

button:hover {
    background: rgb(71, 19, 19);
    color: #A43931;
}

input {
    background-color: transparent;
}

input:hover {
    background-color: rgb(209, 202, 202);
}

select {
    background-color: transparent;
}

select:focus {
    background-color: rgb(209, 202, 202);
}

select:hover {
    background-color: #000;
    color: #A43931;
}

#logContainer {
    grid-column: 2/4;
    grid-row: 4/5;
    place-self: center;
    background-color: rgb(110, 92, 63);
    width: 40%;
    height: 100%;
z-index: 1;
    margin-bottom: 10%;
}

#moveLog {
    display: flex;
    justify-content: center;
    color: yellowgreen;
}

progress {
    border: none;
    width: 400px;
    height: 30px;

}

progress::-webkit-progress-value {
    background: green;
}

progress::-webkit-progress-bar {
    background: #660000;
}

h2 {
    text-align: center;
    color: gainsboro
}

label {
    text-align: center;
}
/* #label1{

}
#label2{
margin-left: 70%;
}
#char2{

} */
}