
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@media only screen and (orientation:portrait){
    html{
display: none;
    }
}
@media only screen and (max-width:999px)and (orientation:landscape){
   
html{
    touch-action: manipulation;
    box-sizing: border-box;
    
    
}
main{
position:absolute;
top: 15rem;
display:flex;
left: 20%;
}
body{
    background: linear-gradient(to right, rgb(83, 46, 46), rgb(216, 160, 38));
    flex-direction: row;
    font-family: 'Orbitron', sans-serif;
    display:flex;
    margin: auto;
    
}

header h1{
    margin-left: 35vw;
    font-size: 50px;
    
}
#buttons{
    position: absolute;
    bottom: 2%;
    display: flex;
}
.playerOne{
    margin-left: 5rem;
}
.playerTwo{
   margin-left: 32rem;
}
    
button{
    border:  dashed 2px black;
    background: linear-gradient(to right, rgba(207, 171, 10, 0.4), rgba(212, 18, 18, 0.2));
}
#vs{
    text-align: center;
    font-size: 50px;
    position: relative;
    margin-top: 50px;
    text-shadow: 5px 2px 2px #7a7c80;
}
}
#creationPanel{
position: absolute;
bottom: 5rem;
display: flex;
left: 5rem;
}
#characterOne{
margin-right: 1rem;
}
#characterTwo{

}


@media only screen and (min-width: 1000px){
html{
    height: 90vh;
    width: 100%;
}

body{
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-columns: 30px 1fr 1fr 30px;
    gap: auto;
    grid-template-rows: auto;
}

*{box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

header{
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: center; 
}
h1{
    font-size: 35px;
    color:rgb(46, 42, 42);
}
main{
    grid-row: 2/3;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    justify-items: center;
    
}
#buttons{
    grid-column: 2/4    ;
    grid-row:6/8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content:space-around;
    margin: 60px;
}/* 
#playerOne{
}
#playerTwo{
    
} */

#charOne img{
    grid-column: 1/2;
}
#charTwo img{
    grid-column: 2/3;
    grid-row: 2/3;
}
#vs{
    justify-self: center;
    align-self: center;
    font-size: 40px;
}

#creationPanel{
    grid-column: 2/4;
    grid-row:3/4;
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: auto;
    margin: 25px;

}
#characterOne{
    grid-column: 1/2;
    grid-row: inherit;
}
#characterTwo{
    grid-column: 2/3;
    grid-row: inherit;
}

button{
    border: 2px dashed #000000;
    background: transparent;
    
}

button:hover {
	background: rgb(209, 202, 202);
	color: #A43931;
}
input{
    background-color:transparent;
}
input:hover{
    background-color: rgb(209, 202, 202);
}
select{
    background-color:transparent;
}
select:focus{
    background-color: rgb(209, 202, 202);
}
select:hover{
    background-color: #000;
    color:#A43931;
}}